
.signup-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 40px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.signup-header {
    text-align: center;
    margin-bottom: 30px;
    
}

.signup-header h2 {
    color: #126cfc;
    font-size: 28px;
    margin-bottom: 10px;
}

.signup-header p {
    color: #000;
    
}

/* FORM ELEMENTS */
.form {
    margin-bottom: 20px;
    position: relative;
}

.form label {
    display: block;
    margin-bottom: 8px;
   
    color: #000;
}

.form input,
.form select {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.3s;
}

.form input:focus,
.form select:focus {
    border-color: #126cfc;
    outline: none;
    box-shadow: 0 0 0 3px rgba(33, 95, 250, 0.2);
}



.skills-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.skill-tag {
    background: #f0f0f0;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;
}

.skill-tag:hover,
.skill-tag.selected {
    background: #126cfc;
    color: white;
}

/* SUBMIT BTN*/
.submit-btn {
    width: 100%;
    padding: 14px;
    background: #126cfc;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}

.submit-btn:hover {
    background: #fff;
    color: #000;
    box-shadow: 0 0 0 1px #126cfc;
}


.login-link {
    text-align: center;
    margin-top: 20px;
    color: #000;
}

.login-link a {
    color: #126cfc;
    text-decoration: none;
    font-weight: 500;
}

.login-link a:hover {
    text-decoration: underline;
}
.input-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.forgot-password {
    color: #f90606;
    text-decoration: none;
    font-size: 16px;
}

.forgot-password:hover {
    text-decoration: underline;
}


.form {
    position: relative;
    margin-bottom: 20px;
}
.go_back_text a{
    color: #a50cf7;
}